.no-match {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: $magenta;
    }
    a {
        color: $gray;
        font-size: 2rem;

        &:hover {
            text-decoration: none;
            color: $light-gray;
        }
    }
}