.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 250px);
    width: 100vw;

    .slideshow-wrapper {
        background-size: cover;
    }

    .login{
        color: $sky-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .google-login {
            margin-top: 100px;
            h2 {
                color: $magenta;
            }
            &__btn {
                width: 200px;
                color: $magenta !important;
                font-weight: 900 !important;
            }
        }

        button {
            height: 40px;
            width: 80px;
            background-color: $magenta;
            border-radius: 20px;
            color: $light-gray;
            font-size: 2rem;
            font-weight: 600;

        }
    }
}

input {
    background-color: $space;
    color: $light-gray;
}

