.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 250px);
    width: 100vw;

    .slideshow-wrapper {
        background-size: cover;
    }

    .login{
        color: $sky-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .google-login {
            margin-top: 100px;
            margin-bottom: 15px;
            h2 {
                color: $magenta;
            }
            &__btn {
                width: 250px;
                color: $magenta !important;
                font-weight: 900 !important;
                font-size: 1rem;
            }
        }

        .facebook-login {
            margin-top: 15px;
            h2 {
                color: $magenta;
            }
            &__btn {
                width: 250px;
                color: $light-gray;
                background-color: #4267B2;
                font-weight: 900 !important;
                font-size: 1.5rem;
                border: none;
                border-radius: 2px;
            }
            &__logo {
                height: 30px;
                width: 30px;
                margin: 5px;
                color: $light-gray;
                font-size: 1.5rem;
                position: fixed;
                display: block;
            }
        }

        button {
            height: 40px;
            width: 80px;
            background-color: $magenta;
            border-radius: 20px;
            color: $light-gray;
            font-size: 2rem;
            font-weight: 600;

        }
    }
}

input {
    background-color: $space;
    color: $light-gray;
}

