.blog-item-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;

    
    .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            h1{
            color: $magenta;
            font-weight: 900;
            }
            &:hover {
                text-decoration: none;
            }
        }

        img {
            height: auto;
            width: auto;
            max-width: 38vw;
            max-height: 100%;
        }
    }

    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        font-size: 2rem;
        font-weight: 300;
        color: $deep-gray;
    }
}

.music {
    height: 20vh;
}

.videos {
    height: 35vh;
    padding-top: 70px;
}

.art {
    padding-top: 60px;
}
