.content{
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    .blog-container {
        width: 80vw;
        height: 100%;
        background-color: $space;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }
}