.blog-item-wrapper {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    
    .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            h1{
            color: $magenta;
            font-weight: 900;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }

    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        font-size: 2rem;
        font-weight: 300;
        color: $deep-gray;
    }
}