.select-element {
    border: none;
    border-bottom: 1px solid $magenta;
    margin-top: 5px;
    font-size: 1.3rem;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: transparent;
    outline: none;
    color: $light-gray
}