$light-gray: #F4FAFF;
$gray: #C9DAEA;
$purple: #1b002e;
$sky-blue: #70A1E4;
$magenta: #D4018D;
$space: #0D0019;

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto Mono', monospace;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: $space;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: $gray;
    a:hover {
        color: $light-gray;
    }
}

.title {
    background: url('https://thumbs.gfycat.com/RemoteImpishBlackbear-poster.jpg') no-repeat center center fixed; 
    background-size: auto;
}

.app {
    display: grid;
    justify-items: center;
}

@import './mixins.scss';
@import './forms.scss';
@import './Header/header.scss';
@import './Header/title.scss';
@import './Blog/blog-container.scss';
@import './Auth/login.scss';